In [3]:
eval('15')

15

In [3]:
eval('15+10')

25

In [5]:
print(2, 567,235)

2 567 235

In [6]:
name='ramana'
print('hello',name,'2+2=',2+2)

hello ramana 2+2= 4

In [7]:
name='ramana'
print('hello',name,'\n2+2=',2+2)

hello ramana
2+2= 4

In [8]:
name='ramana'
print('hello',name,'\t2+2=',2+2)

hello ramana 	2+2= 4

In [9]:
print('Use \\n for newline')

Use \n for newline

In [10]:
print(R'Use \n for newline')

Use \n for newline

In [11]:
print(r'Use \n for newline')

Use \n for newline

In [12]:
print(type(12),type(12.5),type('hello'), type(int) )

<class 'int'> <class 'float'> <class 'str'> <class 'type'>

In [13]:
print(round(89.625,2) , round(89.635),round(89.635,0))

89.62 90 90.0

In [15]:
str(123)

'123'

In [17]:
float(123)

123.0

In [18]:
int(123.5)

123

In [19]:
str(123.45)

'123.45'

In [20]:
int('123.45')

ValueError: invalid literal for int() with base 10: '123.45'

In [21]:
eval('50+5')

55

In [1]:
eval(50+5)

TypeError: eval() arg 1 must be a string, bytes or code object

In [24]:
max(59,80,95.6,95.21)

95.6

In [23]:
min(59,80,95.6,95.21)

59

In [25]:
max('hello','how','are','you')

'you'

In [26]:
min('hello','how','are','you','Sir')

'Sir'

In [2]:
min('hello','how','are','you','sir')

'are'

In [30]:
import math
math.ceil(3.4)

4

In [31]:
import math
math.floor(3.7)

3

In [32]:
import math
math.pow(5,3)

125.0

In [33]:
import math
math.log(32,2)

5.0

In [34]:
import math
math.log10(100)

2.0

In [35]:
import math
math.sin(90)

0.8939966636005579

In [36]:
import math
math.degrees(90)

5156.620156177409

In [37]:
import math
math.radians(90)

1.5707963267948966

In [40]:
import math
help(math.cos)

Help on built-in function cos in module math:

cos(x, /)
    Return the cosine of x (measured in radians).

In [3]:
def areaRectangle(length,breadth):
    area=length*breadth
    return area


def areaSquare(side):
    area=areaRectangle(side,side)
    return area

def main():
    print('Enter the following values for rectangle')
    lengthRect=int(input('Length'))
    breadthRect=int(input('Breadth'))
    areaRect=areaRectangle(lengthRect,breadthRect)
    print('Area of rectangle is', areaRect)
    sideSqr=int(input('Enter side of the squre'))
    areaSqr=areaSquare(sideSqr)
    print('Area of square is ', areaSqr)

if __name__=='__main__':
    main()

print('\nEnd of program')

Enter the following values for rectangle
Area of rectangle is 2790
Area of square is  64

End of program

In [8]:
def f(a=2,b=3,c=4,d=5,e=6,f=7,g=8,h=9):
    return a+b+c+d+e+f+g+h
f(c=10,g=20)

62

In [9]:
def f(a=2,b=3,c=4,d=5,e=6,f=7,g=8,h=9):
    return a+b+c+d+e+f+g+h

f()

44

In [1]:
'%5d'%

'   45'

In [2]:
print('%5d'% 45)

   45

In [3]:
print('%5d'% 12345)

12345

In [2]:
total=0
count=10
while count > 5:
    total+=count
    count-=1
print(total)

40

In [4]:

total=0
N=2
for i in range(1,N+1):
    for j in range(1,i+1):
        total += 1
print(total)

3

In [6]:

total=0
N=10
for i in range(1,N+1):
    for j in range(1,N+1):
        total += 1
print(total)

100

In [7]:

total=0
N=5
for i in range(1,N+1):
    for j in range(1,i+1):
        total += 1
    total -= 1
print(total)

10