In [1]:
subjects=['Hindi','English','Maths','History' ]

In [2]:
id(subjects)

2821173076864

In [3]:
temporary = subjects

In [4]:
id(subjects)

2821173076864

In [5]:
id(temporary)

2821173076864

In [6]:
temporary[0]='Sanskrit'

In [7]:
print(subjects)

['Sanskrit', 'English', 'Maths', 'History']

In [8]:
print(temporary)

['Sanskrit', 'English', 'Maths', 'History']

In [9]:
print(id(subjects),id(temporary) )

2821173076864 2821173076864

In [10]:
subjectCodes = [['Sanskrit',43],['Engilsh',85] , ['Maths',65 ] , ['History',36]  ]

In [11]:
subjectCodes[1]

['Engilsh', 85]

In [12]:
print(subjectCodes[1][0], subjectCodes[1][1] )

Engilsh 85

In [13]:
details = eval(input('Enter Details of Megha: '))

In [14]:
details

['Megha verma', ' C-55 , Raj Nagar , Pitam Pura, Delhi -110034', 98763542310]

In [15]:
students = ['Ram','Shyam','Gita','Sita' ]

In [17]:
for name in students:
    print(name)

Ram
Shyam
Gita
Sita

In [18]:
marksList = [78,32,89,99,56 ]
count=0
for marks in marksList:
    if marks >= 75:
        count += 1

count

3

In [19]:
list1 =['Red','Green']

In [20]:
list2 = [10,20,30]

In [21]:
list2 * 2

[10, 20, 30, 10, 20, 30]

In [22]:
list1 = list1 + ['Blue']

In [ ]:
list1

In [24]:
len(list1)

3

In [25]:
list2

[10, 20, 30]

In [26]:
list2[-1]

30

In [27]:
list2[0:2]

[10, 20]

In [28]:
min(list2)

10

In [5]:
list1 = ['Red','Green']

In [6]:
list1

['Red', 'Green']

In [7]:
list1

['Red', 'Green']

In [8]:
list1 = list1 + ['Blue']

In [9]:
list1

['Red', 'Green', 'Blue']

In [10]:
max(list1)

'Red'

In [13]:
vowels='aeiou'

In [14]:
list(vowels)

['a', 'e', 'i', 'o', 'u']

In [16]:
a=[10,20,30,40]

In [17]:
a

[10, 20, 30, 40]

In [18]:
a.append(35)

In [19]:
a

[10, 20, 30, 40, 35]

In [23]:
a=[10,23,30]
a.extend([35,40])
a

[10, 23, 30, 35, 40]

In [28]:
a=[10,20,30,10,50,20,60,20,30,55]
a.count(20)

3

In [29]:
a

[10, 20, 30, 10, 50, 20, 60, 20, 30, 55]

In [30]:
a.pop(3)

10

In [31]:
a

[10, 20, 30, 50, 20, 60, 20, 30, 55]

In [32]:
a.pop(3)

50

In [33]:
a

[10, 20, 30, 20, 60, 20, 30, 55]

In [34]:
a.remove(20)

In [35]:
a

[10, 30, 20, 60, 20, 30, 55]

In [37]:
names = ['Ram','Shyam','Sita','Gita','Sita']
rollNums = [1,2,3,4,5]
names
rollNums

[1, 2, 3, 4, 5]

In [38]:
names

['Ram', 'Shyam', 'Sita', 'Gita', 'Sita']

In [39]:
rollNums

[1, 2, 3, 4, 5]

In [40]:
rollNums.pop(names.index('Shyam'))

2

In [41]:
rollNums

[1, 3, 4, 5]

In [42]:
names

['Ram', 'Shyam', 'Sita', 'Gita', 'Sita']

In [43]:
names.remove('Shyam')
print(names,rollNums)

['Ram', 'Sita', 'Gita', 'Sita'] [1, 3, 4, 5]

In [44]:
a
# a = [10,20,30,20,60,20,30,55]

[10, 30, 20, 60, 20, 30, 55]

In [45]:
a = [10,20,30,20,60,20,30,55]

In [46]:
a

[10, 20, 30, 20, 60, 20, 30, 55]

In [47]:
del a[2:6:3]

In [48]:
a

[10, 20, 20, 60, 30, 55]

In [49]:
names

['Ram', 'Sita', 'Gita', 'Sita']

In [52]:
names.insert(2,'Shyam')

In [53]:
names

['Ram', 'Sita', 'Shyam', 'Shyam', 'Shyam', 'Gita', 'Sita']

In [55]:
names.reverse()
names

['Sita', 'Gita', 'Shyam', 'Shyam', 'Shyam', 'Sita', 'Ram']

In [57]:
names=['Ram','Sita','Sita','Anya']
names.sort()
names

['Anya', 'Ram', 'Sita', 'Sita']

In [58]:
names

['Anya', 'Ram', 'Sita', 'Sita']

In [59]:
names.sort(reverse=True)
names

['Sita', 'Sita', 'Ram', 'Anya']

In [61]:
names=['Ram', 'Sita','Purushottam','Shyam']
names.sort(key = len)
names

['Ram', 'Sita', 'Shyam', 'Purushottam']

In [62]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [63]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [64]:
cubes=[]
end=10
for i in range(1, end + 1 ):
    cubes.append(i ** 3)

cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [65]:
end

10

In [66]:
cubes = [ x**3 for x in range(1, end + 1)]

In [67]:
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [69]:
lst = [ ['Rama',160], ['Anya',159], ['Mitra',158],['Sona',161] ] 
threshold = 160
tall = [x for x in lst if x[1] >= threshold ]
tall

[['Rama', 160], ['Sona', 161]]

In [70]:
lst = [ ['Rama',160], ['Anya',159], ['Mitra',158],['Sona',161] ] 
threshold = 160
tall = [x for x in lst if x[1] < threshold ]
tall

[['Anya', 159], ['Mitra', 158]]

In [71]:
s1 = ['a','b','c']
s2 = [3,5]
crossProduct =  [ [x,y] for x in s1 for y in s2  ]
crossProduct

[['a', 3], ['a', 5], ['b', 3], ['b', 5], ['c', 3], ['c', 5]]

In [72]:

list1 = [10,20,[30,40]]
list2 = list1

In [73]:
list1

[10, 20, [30, 40]]

In [74]:
list2

[10, 20, [30, 40]]

In [76]:
list1[1]=22

In [77]:
list1

[10, 22, [30, 40]]

In [78]:
list2

[10, 22, [30, 40]]

In [79]:
id(list1)

2323405885504

In [80]:
id(list2)

2323405885504

In [81]:
import copy
list1 = [10,20,[30,40]]
list3 = copy.copy(list1)

In [82]:
list1

[10, 20, [30, 40]]

In [83]:
list3

[10, 20, [30, 40]]

In [84]:
id(list1)

2323406031040

In [85]:
id(list3)

2323406119168

In [87]:
list1[1]=25

In [88]:
list1

[10, 25, [30, 40]]

In [89]:
list3

[10, 20, [30, 40]]

In [90]:
list1[2][0] = 35

In [91]:
list1

[10, 25, [35, 40]]

In [92]:
list3

[10, 20, [35, 40]]

In [93]:
import copy
list1 = [10,20,[30,40]]
list4 = copy.deepcopy(list1)

In [94]:
list1

[10, 20, [30, 40]]

In [95]:
list4

[10, 20, [30, 40]]

In [96]:
id(list1)

2323406043072

In [97]:
id(list4)

2323405601664

In [98]:
list1[2][0]=35

In [99]:
list1

[10, 20, [35, 40]]

In [100]:
list4

[10, 20, [30, 40]]

In [101]:
cube = lambda x: x ** 3
cube(5)

125

In [102]:
cube(9)

729

In [103]:
sum2Cubes = lambda x , y : x ** 3  +  y ** 3
sum2Cubes(2,3)

35

In [104]:
sum2Cubes(4,6)

280

In [105]:
lst = [1,2,3,4,5]
list(map(lambda x: x ** 3, lst))

[1, 8, 27, 64, 125]

In [106]:
lst = [9, 5, 7]
list(map(lambda x: x ** 3, lst))

[729, 125, 343]

In [107]:
list(map(cube,lst))

[729, 125, 343]

In [108]:
lst = [1,2,3,4,5]
list(map(cube,lst))

[1, 8, 27, 64, 125]

In [109]:
list(map(abs,[-1,-2,-3,4,5]))

[1, 2, 3, 4, 5]

In [110]:
lst

[1, 2, 3, 4, 5]

In [111]:
lstCubes = list(map(lambda x: x ** 3 , lst ))

In [112]:
lstCubes

[1, 8, 27, 64, 125]

In [113]:
lstCubes = list(map(lambda x: x ** 3 , lst ))
import functools
sumCubes = functools.reduce(lambda x, y : x +y , lstCubes)
sumCubes

225

In [114]:
lstCubes

[1, 8, 27, 64, 125]

In [115]:
evenCubes = list (  filter (lambda x: x%2==0 , lstCubes))

In [116]:
evenCubes

[8, 64]

In [117]:
sumEvenCubes = functools.reduce(lambda x, y : x + y , evenCubes)
sumEvenCubes

72

In [4]:
[1,2,3]

[1, 2, 3]

In [5]:
vowels = set['aeiou']

In [6]:
vowels

set['aeiou']

In [7]:
vehicles = set(['Bike','Car','Bicycle','Scooter'])
vehicles

{'Bicycle', 'Bike', 'Car', 'Scooter'}

In [8]:
digits = set((0,1,2,3,4,5,6,7,8,9,))
digits

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
vowels

set['aeiou']

In [13]:
min(digits)

0

In [14]:
max(digits)

9

In [15]:
sum(digits)

45

In [16]:
len(vehicles)

4

In [17]:
'Bike' in vehicles

True

In [18]:
vehicles.add('Bus')

In [19]:
vehicles

{'Bicycle', 'Bike', 'Bus', 'Car', 'Scooter'}

In [20]:
vehicles.update(['Truck','Rickshaw','Bike'])

In [21]:
vehicles

{'Bicycle', 'Bike', 'Bus', 'Car', 'Rickshaw', 'Scooter', 'Truck'}

In [22]:
heavyVehicles={'Truck','Bus','Crane'}
heavyVehicles

{'Bus', 'Crane', 'Truck'}

In [23]:
type(heavyVehicles)

set

In [24]:
heavyVehicles.remove('Crane')

In [25]:
heavyVehicles

{'Bus', 'Truck'}

In [26]:
heavyVehicles.pop()

'Bus'

In [27]:
heavyVehicles

{'Truck'}

In [29]:
heavyVehicles.clear()
heavyVehicles

set()

In [30]:
type(heavyVehicles)

set

In [31]:
fruits = {'Apple','Oragne','Tomato','Cucumber','Watermelon'}

In [32]:
fruits

{'Apple', 'Cucumber', 'Oragne', 'Tomato', 'Watermelon'}

In [33]:
vegetables = {'Cucumber','Potato','Tomato','Watermelon', ' Cauliflower'}
vegetables

{' Cauliflower', 'Cucumber', 'Potato', 'Tomato', 'Watermelon'}

In [2]:
vegetables = {'Cucumber','Potato','Tomato','Watermelon', ' Cauliflower'}
vegetables

{' Cauliflower', 'Cucumber', 'Potato', 'Tomato', 'Watermelon'}

In [4]:
fruits = {'Apple','Oragne','Tomato','Cucumber','Watermelon'}

In [5]:
fruits

{'Apple', 'Cucumber', 'Oragne', 'Tomato', 'Watermelon'}

In [6]:
eatables = fruits.union(vegetables)
eatables

{' Cauliflower',
 'Apple',
 'Cucumber',
 'Oragne',
 'Potato',
 'Tomato',
 'Watermelon'}

In [7]:
eatables = fruits | vegetables
eatables

{' Cauliflower',
 'Apple',
 'Cucumber',
 'Oragne',
 'Potato',
 'Tomato',
 'Watermelon'}

In [8]:
fruitsAndVegetables = fruits.intersection(vegetables)
fruitsAndVegetables

{'Cucumber', 'Tomato', 'Watermelon'}

In [9]:
fruitsAndVegetables = fruits & vegetables
fruitsAndVegetables

{'Cucumber', 'Tomato', 'Watermelon'}

In [10]:
onlyFruits = fruits.difference(vegetables)
onlyFruits

{'Apple', 'Oragne'}

In [11]:
onlyFruits = fruits - vegetables
onlyFruits

{'Apple', 'Oragne'}

In [12]:
onlyVegetables = vegetables.difference(fruits)
onlyVegetables

{' Cauliflower', 'Potato'}

In [13]:
  onlyVegetables = vegetables - fruits
  onlyVegetables

{' Cauliflower', 'Potato'}

In [14]:
fruitsXORVegs = onlyFruits | onlyVegetables

In [15]:
fruitsXORVegs

{' Cauliflower', 'Apple', 'Oragne', 'Potato'}

In [16]:
fruitsXORVegs = fruits.symmetric_difference(vegetables)
fruitsXORVegs

{' Cauliflower', 'Apple', 'Oragne', 'Potato'}

In [17]:
digits1 = {0,1,2,3}
digits2 = {2,4,5,6}
digits3 = {0,7,8,9,2}
set.difference(digits1, digits2, digits3)

{1, 3}

In [18]:
digits1 = {0,1,2,3}
digits2 = {2,4,5,6}
digits3 = {0,7,8,9,2}
set.union(digits1, digits2, digits3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [19]:
digits1 = {0,1,2,3}
digits2 = {2,4,5,6}
digits3 = {0,7,8,9,2}
set.intersection(digits1, digits2, digits3)

{2}

In [20]:
digits={0,1,2,3,7,8,9}
digits2=digits.copy()

In [21]:
digits

{0, 1, 2, 3, 7, 8, 9}

In [22]:
digits2

{0, 1, 2, 3, 7, 8, 9}

In [23]:
id(digits)

2184730086976

In [24]:
id(digits2)

2184730088096

In [25]:
digits.update({4,5,6})
digits

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
digits2

{0, 1, 2, 3, 7, 8, 9}

In [27]:
multiples2 = {2,4,6,8,10,12,14}
multiples4 = {4,8,12}
isSubset = multiples4 <= multiples2
isSubset

True

In [28]:
isSuperset = multiples2 >= multiples4
isSuperset

True

In [29]:
n1=4
n2=6
commonFactors = { i for  i in range (1,min(n1+1,n2+1)) if n1 % i == 0 and n2 % i ==0 } 
commonFactors

{1, 2}